In [1]:
import ujson
import resources
import db
import numpy as np
from scipy.stats.mstats import gmean
import pandas as pd



import warnings
warnings.filterwarnings('ignore')
from joblib import Parallel, delayed  
import multiprocessing
num_cores = multiprocessing.cpu_count()

In [ ]:
# %%capture
# ## ========================= INSERT NEW MOVIE(S) TO RESOURCES ======================================
# movies = []
# inserted = Parallel(n_jobs=num_cores)(delayed(resources.add_to_resources)(movie) for movie in movies)
# del movies

In [ ]:
# %%capture
# ## ========================= UPDATE MOVIE(S) IN RESOURCES ======================================
# movies = []
# updated = Parallel(n_jobs=num_cores)(delayed(resources.update_in_resources)(movie) for movie in movies)
# del movies

In [ ]:
# %%capture
# ## ========================= REMOVE MOVIE(S) FROM RESOURCES ======================================
# movies = []
# deleted = Parallel(n_jobs=num_cores)(delayed(resources.delete_from_resources)(movie) for movie in movies)
# del movies

In [14]:
%%capture
## ========================= FETCHING DATA FOR ALL MOVIES IN RESOURCES ======================================
movies = Parallel(n_jobs=num_cores)(delayed(db.collect_data)(movie) for movie in resources.get_all_movies())

In [ ]:
# %%capture
# ## ========================= FETCHING DATA FOR A LIST OF MOVIES IN RESOURCES ======================================
# ## BY TAG (i.e "dc" or 'marvel, or 'other')
# tag_selection = ''
# movies_list = resources.get_movies_by_tag(tag)


# ## BY ALIASES
# selection = []
# movies_list = Parallel(n_jobs=num_cores)(delayed(resources.get_movie_by_alias())(movie) for movie in selection)

# ##---------or

# ## BY TITLES
# selection = []
# movies_list = Parallel(n_jobs=num_cores)(delayed(resources.get_movie_by_title())(movie) for movie in selection)



# movies = Parallel(n_jobs=num_cores)(delayed(db.collect_data)(movie) for movie in movies_list)
# del selection
# del movies_list

In [20]:
%%capture
## ========================= TRANSFORMING MOVIE(S) DATA ======================================
movies = Parallel(n_jobs=num_cores)(delayed(db.transform)(movie) for movie in movies)

In [26]:
# ## ========================= TRANSFORMED DATA => TABLES ======================================
if len(movies) > 1:
    summaries = pd.DataFrame([movie['summary'] for movie in movies])
    calculations = pd.DataFrame([movie['bo_performance']['calculated_metrics'] for movie in movies])
    weekly_avgs  = pd.DataFrame([movie['bo_performance']['weekly_per_theater_gross_avgs'] for movie in movies])
    weekly_ranks = pd.DataFrame([movie['bo_performance']['weekly_ranks'] for movie in movies])
    weekly_percents = pd.DataFrame([movie['bo_performance']['weekly_percent_gross_changes'] for movie in movies])
    critics = pd.DataFrame([movie['critical_reception'] for movie in movies])
    ranking = pd.DataFrame([movie['scoring'] for movie in movies])
    
elif len(movies) == 1:
    summaries = pd.DataFrame(movies[0]['summary'], index = [0])
    calculations = pd.DataFrame(movies[0]['bo_performance']['calculated_metrics'], index = [0])
    weekly_avgs  = pd.DataFrame(movies[0]['bo_performance']['weekly_per_theater_gross_avgs'], index=[0])
    weekly_ranks = pd.DataFrame(movies[0]['bo_performance']['weekly_ranks'], index = [0])
    weekly_percents = pd.DataFrame(movies[0]['bo_performance']['weekly_percent_gross_changes'], index = [0])
    critics = pd.DataFrame(movies[0]['critical_reception'], index = [0])
    scoring = pd.DataFrame(movies[0]['scoring'], index = [0])
    
else:
    print "No movie in movies list"

SyntaxError: Generator expression must be parenthesized if not sole argument (<ipython-input-26-81cc0439f095>, line 18)

In [22]:
calculations

,domestic_over_budget,domestic_over_ow,foreign_over_budget,imdbID,international_BO_score,ow_over_budget,rating_coef,runtime_coef,score,weekly_per_theater_gross_avgs_score,weekly_percent_gross_changes_score,weekly_ranks_score
0,1.240,2.022,0.923,tt1272878,18.062,0.613,3,2,10.414000,1.114,37.647,5.167
1,3.240,2.187,3.776,tt0416449,19.214,1.481,3,2,15.025000,1.474,39.237,12.685
2,1.319,1.919,1.198,tt0389722,17.466,0.687,3,2,9.042000,0.539,22.415,3.204
3,0.301,22.891,0.099,tt0305206,15.384,0.013,3,2,5.492000,1.472,60.497,3.329
4,1.338,1.588,1.538,tt0370263,18.245,0.843,2,1,7.570000,1.328,2.883,5.036
5,NaN,2.214,NaN,tt0115693,NaN,NaN,3,2,6.544000,0.770,32.101,2.117
6,2.375,2.304,NaN,tt0103893,NaN,1.031,2,1,3.192000,0.250,13.673,0.631
7,0.449,2.038,0.276,tt0245803,16.844,0.220,2,2,-inf,1.197,0.000,2.651
8,0.173,1.533,NaN,tt1308729,NaN,0.113,3,2,-0.535000,0.472,9.812,0.703
9,1.824,3.933,3.411,tt0112642,18.656,0.464,1,2,13.199000,1.486,59.920,14.306
10,5.381,2.317,5.172,tt1706593,17.972,2.322,2,1,13.949000,1.392,27.261,5.595
11,0.615,1.942,0.458,tt0409847,18.343,0.317,2,2,8.165000,1.304,37.562,5.643
12,3.380,4.305,NaN,tt0109506,NaN,0.785,3,2,8.477000,0.654,24.568,4.361
13,2.117,3.009,0.938,tt0099365,17.155,0.704,3,2,9.992000,0.449,23.798,4.722
14,0.739,17.926,NaN,tt3172532,NaN,0.041,3,2,5.044000,0.985,41.525,1.163
15,2.207,2.986,1.255,tt0099422,18.319,0.739,1,2,10.909000,0.781,35.966,8.688
16,0.268,1.563,0.444,tt1343727,16.591,0.172,3,2,3.294000,0.491,17.746,0.971
17,0.903,2.153,1.227,tt0120681,17.371,0.419,3,3,9.456000,0.789,28.817,3.599
18,0.369,1.675,1.175,tt1219827,18.023,0.220,2,2,5.910000,0.694,22.525,2.048
19,0.888,35.098,0.364,tt0162346,15.448,0.025,3,2,6.377000,1.587,3.272,4.310
20,0.823,2.179,1.075,tt0990407,18.496,0.378,2,2,9.593000,1.308,35.507,5.858
21,1.520,2.512,2.643,tt0448157,19.445,0.605,2,2,11.360000,0.973,28.746,6.461
22,0.903,1.987,0.601,tt0167190,17.798,0.455,2,2,8.035000,0.710,26.285,4.734
23,0.727,1.745,1.721,tt1267297,18.446,0.416,2,2,8.958000,1.108,25.894,4.042
24,0.985,40.984,0.914,tt0399146,17.244,0.024,3,2,10.807000,1.426,75.010,5.035
25,0.293,1.739,0.801,tt1418377,17.182,0.169,2,2,4.661000,0.685,24.245,1.343
26,2.842,2.811,4.039,tt0317705,19.501,1.011,1,2,13.817000,1.491,38.553,13.689
27,1.336,1.947,NaN,tt0108148,NaN,0.686,2,1,3.388000,0.429,19.968,0.968
28,0.366,2.177,0.015,tt0236348,16.135,0.168,2,2,0.553000,0.474,22.115,1.280
29,1.602,1.895,1.604,tt1250777,17.688,0.846,3,2,10.760000,0.986,27.227,4.014
...,...,...,...,...,...,...,...,...,...,...,...,...
125,1.294,1.857,1.676,tt0770828,19.574,0.697,2,3,11.260000,1.385,25.618,6.639
126,1.321,1.580,2.172,tt2975590,19.792,0.836,2,5,12.332000,1.161,24.620,10.579
127,1.537,2.921,NaN,tt0086393,NaN,0.526,1,3,6.944000,0.676,32.580,6.648
128,0.922,1.881,NaN,tt0094074,NaN,0.490,1,1,0.626000,0.259,13.364,0.636
129,0.969,1.800,2.100,tt1253863,18.785,0.538,3,2,10.531000,1.102,26.987,5.671
130,1.045,2.655,2.177,tt0758730,17.830,0.394,3,1,8.309000,1.102,16.610,1.742
131,0.276,1.589,NaN,tt0115986,NaN,0.173,3,2,-1.737000,0.084,4.605,1.000
132,0.894,1.637,0.993,tt0411477,18.179,0.546,2,2,8.565000,0.921,26.935,3.663
133,0.385,1.819,0.876,tt0113492,17.685,0.212,3,2,4.493000,0.355,16.689,1.093
134,1.028,1.586,1.143,tt1650554,17.209,0.648,3,2,7.181000,0.511,19.480,1.059
135,0.990,2.779,1.644,tt0120746,18.540,0.356,2,3,10.040000,0.856,31.056,4.817
136,1.360,2.602,1.796,tt0120912,19.156,0.523,2,1,9.907000,0.757,29.745,7.001
137,0.212,1.601,0.395,tt0458481,16.668,0.132,3,2,2.835000,0.577,18.491,0.902
138,1.525,1.965,1.346,tt0187738,18.191,0.776,3,2,10.793000,0.922,32.161,4.806
139,0.806,2.571,1.177,tt0359013,17.904,0.314,3,2,8.950000,0.970,33.713,2.864
140,0.468,1.652,0.932,tt1502712,18.104,0.283,2,2,7.000000,0.962,25.175,3.065
141,1.015,1.703,1.209,tt0486576,18.753,0.596,1,1,8.758000,1.420,30.623,6.260
142,0.908,1.783,1.417,tt1071875,17.918,0.509,2,2,8.486000,1.078,16.052,3.345
143,0.899,1.799,0.857,tt0800080,18.705,0.499,2,2,8.609000,1.137,16.102,5.786
144,1.562,1.963,1.558,tt1228705,19.559,0.796,2,3,12.565000,1.499,34.039,12.574
145,2.045,1.925,4.029,tt1300854,20.085,1.062,2,3,13.928000,1.524,32.025,11.291
146,0.230,1.431,0.059,tt0450314,15.648,0.161,3,2,-1.227000,0.229,11.695,0.373
147,1.868,2.541,2.051,tt0316654,19.768,0.735,2,3,13.400000,1.501,41.912,12.359
148,1.304,1.848,2.149,tt0413300,19.812,0.706,2,3,12.400000,1.484,30.671,12.271
149,1.139,2.884,2.156,tt0948470,19.621,0.395,2,3,11.731000,1.362,33.890,8.184
150,1.214,1.902,2.578,tt1981115,19.436,0.638,2,2,12.118000,1.491,36.694,11.335
151,1.105,1.808,2.352,tt1430132,18.994,0.611,2,3,10.999000,1.421,18.090,7.109
152,2.330,1.968,3.932,tt3315342,19.424,1.184,3,3,14.039000,1.170,35.230,8.132
153,1.170,1.807,2.570,tt1877832,19.577,0.647,2,3,12.102000,1.489,33.845,8.663
154,0.915,1.981,1.295,tt1270798,18.919,0.462,2,3,10.460000,1.465,25.493,7.588

In [2]:
# %%capture
# #========================== INSERT NEW MOVIE(S) INTO DB ===============================================
# inserted = Parallel(n_jobs=num_cores)(delayed(db.add_movie)(movie) for movie in movies)

In [ ]:
# %%capture
# ##========================== UPDATE MOVIE(S) INTO DB ===============================================
# updated = Parallel(n_jobs=num_cores)(delayed(db.update_movie)(movie) for movie in movies)