In [12]:
import ujson
import json
import resources
import db
import numpy as np
from scipy.stats.mstats import gmean
import pandas as pd


import warnings
warnings.filterwarnings('ignore')
from joblib import Parallel, delayed  
import multiprocessing
num_cores = multiprocessing.cpu_count()

In [2]:
# with open('temp.json','w') as f:
#     ujson.dump(movies,f)

with open('temp.json') as f:
    movies = ujson.load(f)

In [7]:
 %%capture
tidyDB = Parallel(n_jobs=num_cores)(delayed(db.transform)(movie) for movie in movies)

In [6]:
ranking = pd.DataFrame([movie['ranking'] for movie in tidyDB]).sort_values("overall_score", ascending = False)
ranking = ranking.reset_index(drop = True)
ranking

,bo_score,critical_score,imdbID,overall_score,title
0,15.321000,96.80,tt0468569,23.956000,The Dark Knight
1,13.348000,99.48,tt0305206,23.900000,American Splendor
2,13.400000,95.16,tt0316654,23.052000,Spider-Man 2
3,14.093000,94.07,tt0371746,23.042000,Iron Man
4,12.580000,96.33,tt1706620,23.040000,Snowpiercer
5,13.817000,94.00,tt0317705,22.945000,The Incredibles
6,13.863000,92.47,tt3315342,22.653000,Logan
7,14.337000,90.88,tt1345836,22.477000,The Dark Knight Rises
8,13.741000,91.26,tt2015381,22.374000,Guardians of the Galaxy
9,15.473000,87.77,tt0848228,22.196000,Marvel's The Avengers
10,15.116000,88.12,tt0119654,22.159000,Men in Black
11,14.993000,87.90,tt0145487,22.078000,Spider-Man
12,13.127000,90.06,tt3498820,21.950000,Captain America: Civil War
13,8.677000,96.73,tt0078346,21.949000,Superman
14,8.540000,96.85,tt3172532,21.932000,The Diary of a Teenage Girl
15,12.102000,90.06,tt1877832,21.643000,X-Men: Days of Future Past
16,17.346000,81.89,tt1431045,21.582000,Deadpool
17,10.807000,91.45,tt0399146,21.532000,A history of violence
18,11.875000,89.76,tt4116284,21.515000,The LEGO Batman Movie
19,13.510000,86.73,tt1843866,21.399000,Captain America: The Winter Soldier
20,6.377000,97.38,tt0162346,21.389000,Ghost world
21,12.532000,88.10,tt1211837,21.380000,Doctor Strange
22,11.271000,88.95,tt2245084,21.171000,Big Hero 6
23,17.686000,78.08,tt0096895,20.922000,Batman
24,13.949000,83.68,tt1706593,20.921000,Chronicle (2012)
25,5.787000,94.79,tt0081573,20.694000,Superman II
26,12.886000,83.97,tt0401792,20.660000,Sin City
27,12.184000,84.98,tt0372784,20.651000,Batman Begins
28,12.616000,83.97,tt0290334,20.579000,X2: X-Men United
29,8.565000,88.42,tt0411477,20.254000,Hellboy II: The Golden Army
...,...,...,...,...,...
125,9.991000,28.38,tt0311429,8.673000,The League of Extraordinary Gentlemen
126,9.620000,28.19,tt0426592,8.524000,Superhero Movie
127,7.570000,30.28,tt0370263,8.327000,Alien vs Predator
128,8.486000,27.99,tt1071875,8.144000,Ghost Rider: Spirit of Vengeance
129,6.522000,29.94,tt0120177,7.945000,Spawn
130,4.309000,30.50,tt0822847,7.393000,Priest
131,10.355000,21.25,tt0118688,7.357000,Batman Robin
132,-2.975000,40.60,tt0114614,7.228000,Tank Girl
133,8.418000,23.35,tt0758730,7.195000,Alien vs Predator Requiem
134,5.631000,25.29,tt0831887,6.747000,The Spirit
135,6.498000,23.40,tt0108308,6.629000,Teenage Mutant Ninja Turtles III
136,6.256000,23.24,tt0357277,6.525000,Elektra
137,-1.227000,34.46,tt0450314,6.524000,Punisher: War Zone
138,7.000000,19.89,tt1502712,6.078000,Fantastic Four(2015)
139,4.059000,23.63,tt0790736,5.944000,RIPD
140,5.978000,18.89,tt0327554,5.571000,Catwoman
141,4.493000,20.75,tt0113492,5.498000,Judge Dredd
142,-4.543000,32.98,tt0166276,5.233000,Monkeybone
143,3.842000,17.30,tt0091225,4.613000,Howard The Duck
144,2.557000,17.98,tt0120458,4.363000,Virus
145,-1.944000,24.60,tt1075747,4.337000,Jonah Hex
146,4.661000,14.59,tt1418377,4.316000,"I, Frankenstein"
147,0.626000,19.95,tt0094074,4.178000,Superman IV: The Quest for Peace
148,4.950000,13.03,tt0383060,4.091000,Zoom
149,6.121000,9.15,tt0088206,3.666000,Supergirl
150,1.305000,14.25,tt0115986,3.242000,The Crow:City of Angels
151,3.251000,9.75,tt0365929,2.925000,Whiteout
152,3.253000,NaN,tt1291532,1.952000,Richie Rich
153,-6.705000,13.40,tt0120207,0.669000,Steel
154,-inf,35.83,tt0245803,-inf,Bulletproof Monk

In [13]:
with open('temp2.json','w') as f:
    json.dump(tidyDB,f)

In [ ]:
# %%capture
# ## ========================= INSERT NEW MOVIE(S) TO RESOURCES ======================================
# movies = []
# inserted = Parallel(n_jobs=num_cores)(delayed(resources.add_to_resources)(movie) for movie in movies)
# del movies

In [ ]:
# %%capture
# ## ========================= UPDATE MOVIE(S) IN RESOURCES ======================================
# movies = []
# updated = Parallel(n_jobs=num_cores)(delayed(resources.update_in_resources)(movie) for movie in movies)
# del movies

In [ ]:
# %%capture
# ## ========================= REMOVE MOVIE(S) FROM RESOURCES ======================================
# movies = []
# deleted = Parallel(n_jobs=num_cores)(delayed(resources.delete_from_resources)(movie) for movie in movies)
# del movies

In [2]:
# %%capture
# ## ========================= FETCHING DATA FOR ALL MOVIES IN RESOURCES ======================================
# movies = Parallel(n_jobs=num_cores)(delayed(db.collect_data)(movie) for movie in resources.get_all_movies())

In [ ]:
# %%capture
# ## ========================= FETCHING DATA FOR A LIST OF MOVIES IN RESOURCES ======================================
# ## BY TAG (i.e "dc" or 'marvel, or 'other')
# tag_selection = ''
# movies_list = resources.get_movies_by_tag(tag)


# ## BY ALIASES
# selection = []
# movies_list = Parallel(n_jobs=num_cores)(delayed(resources.get_movie_by_alias())(movie) for movie in selection)

# ##---------or

# ## BY TITLE
# selection = []
# movies_list = Parallel(n_jobs=num_cores)(delayed(resources.get_movie_by_title())(movie) for movie in selection)



# movies = Parallel(n_jobs=num_cores)(delayed(db.collect_data)(movie) for movie in movies_list)
# del selection
# del movies_list

In [3]:
# %%capture
##========================== INSERT NEW MOVIE(S) INTO DB ===============================================
# inserted = Parallel(n_jobs=num_cores)(delayed(db.add_movie)(movie) for movie in movies)
#inserted = [db.add_movie(movie) for movie in movies]

In [ ]:
# %%capture
# ##========================== UPDATE MOVIE(S) INTO DB ===============================================
# updated = Parallel(n_jobs=num_cores)(delayed(db.update_movie)(movie) for movie in movies)